@import url(./webfonts.css);

/* Benutzerdefinierte CSS-Variablen: */
:root {
    /* Farben */
    --dark: hsl(0, 0%, 4%);
	--dark2: hsl(0, 0%, 7%);
	--white: hsl(0, 0%, 100%);

    --accentcolor2: hsl(161, 100%, 39%);
	--accentcolor: hsl(161, 100%, 48%);

    --accentcolor3: hsl(161, 100%, 22%);
	--accentcolor4: hsl(161, 100%, 20%);

    /* Typografische Grundeigenschaften: */
    --mainfont: 'ClashDisplay-Variable', sans-serif;
    --timerfont: 'ClashDisplay-Variable', sans-serif;
    --normal: 400;
    --bold: 600;
    --extrabold: 900;
    --medium: 500;
}

html {
    font-family: var(--mainfont);
    font-size: 16px;
}

@media screen and (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    overflow-x: hidden;
    background-color: var(--dark);
    color: var(--white);
    line-height: 1.6;
}

p, span, a, li, h5 {
    font-size: 1rem;
}

h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: var(--accentcolor);
    font-weight: var(--bold);
}

a:before {
    position: relative;
    display: block;
    content: '';
    top: 1.4rem;
    left: 0;
    height: 3px;
    width: 0%;
    background-color: var(--accentcolor);
    transition: width .3s ease-in-out;
}

a:hover:before {
    width: 100%;
}

.hidden {
    visibility: hidden;
    pointer-events: none;
    height: 0;
    width: 0;
    margin: 0;
}


.wrapper {
    margin-inline: 5vw;
}

/* Spezifische Styles */

#statusinfo {
    text-align: center;
    color: var(--accentcolor);
    font-weight: var(--regular);
}

.frame-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 1rem;
    height: 95vh;
}

.frame {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 0;
    
    width: 100%;
    height: 100%;
}

.status {
    text-align: center;
}


@media screen and (min-width: 1200px) {
    .frame-container {
        margin-block: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: auto;
        align-items: center;
    }
    .frame {
        height: fit-content;
        max-width: 450px;
        border-radius: 3rem;
        padding: 3rem;
        background-image: linear-gradient(
            45deg,
            rgba(255, 255, 255, .01),
            rgba(255, 255, 255, .03)
        );
        border: 2px solid rgba(128, 128, 128, .05);
    }
}

#help {
    background-color: var(--dark);
    border: none;
    backdrop-filter: blur(16px);
    height: 100%;
    width: 100%;
    transition: all .3s ease-in-out;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#help[open] {
    animation: fadeIn .5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#info {
    justify-content: space-between;
    color: var(--white);
    border: 2px solid rgba(128, 128, 128, .07);
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: fit-content;
    max-width: 100%;
    margin: 1rem;
    padding: 3rem;
    z-index: 3;

    h3 {
        font-weight: var(--regular)
    }
}

@media screen and (min-width: 1200px) {
    #info {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 60rem;
        height: fit-content;

        h3 {
            text-align: center;
        }
    }
}

#helpButton {
    margin-block: 1rem;
    border: none;
    background: none;
    color: var(--white);
    transition: all .2s ease;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    padding-block: .5rem;

    &:hover {
        color: var(--accentcolor);
        border-bottom: 1px solid var(--accentcolor);
    }
}

#info ol li::marker {
    font-size: 2rem;
    font-weight: var(--bold);
    color: var(--accentcolor2);
}

.options {
    display: flex;
    justify-content: center;
    gap: .5rem;
    min-height: 1rem;
    background-color: var(--dark3);
    border: 2px solid var(--dark4);
    height: fit-content;
    padding-block: .5rem;
    padding-inline: 2rem;
    border-radius: 5rem;
}

.timer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-block: 2rem;
}

.timer-container span {
    font-family: var(--timerfont);
    font-weight: var(--regular);
    font-size: 8rem;
    text-align: center;
    color: var(--accentcolor);
}

.option {
    font-family: var(--mainfont);
    font-size: 1rem;
    color: var(--dark);
    background-image: linear-gradient(
        45deg,
        var(--accentcolor),
        var(--accentcolor3)
    );
    border: 2px solid rgba(255, 255, 255, .09);
    padding-inline: 1.5rem;
    padding-block: 1rem;
    border-radius: 3rem;
    min-width: 4rem;
    transition: all .3s ease;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--bold);
}

.option.disabled {
    background-color: var(--white);
    pointer-events: not-allowed;
}

.option:hover {
    background-color: var(--white);
    cursor: pointer;
}

.option:active {
    background-color: var(--dark1);
}

.symbol {
    fill: var(--dark);
    height: 2rem;
    aspect-ratio: 1/1;
}


